{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.js">
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    .container {
      margin-top: 10px;
    }

    .checked {
      color: orange;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
  </style>
</head>

{% include "navbar.html" %}

<body id="bg" style="background-image: url('{% static "images/bg1.jpg"%}')">
  {% block ad %}
  <div class="main-banner" id="main-banner">
    <div class="imgbanbtn imgbanbtn-prev" id="imgbanbtn-prev"></div>
    <div class="imgban" id="imgban3">
    </div>
    <div class="imgban" id="imgban2">
    </div>
    <div class="imgban" id="imgban1">
    </div>
    <div class="imgbanbtn imgbanbtn-next" id="imgbanbtn-next"></div>
  </div>
  <script>
    var bannerStatus = 1;
    var bannerTimer = 5000;

    window.onload = function () {
      bannerLoop();
    }

    var startBannerLoop = setInterval(function () {
      bannerLoop();
    }, bannerTimer);

    document.getElementById("main-banner").onmouseenter = function () {
      clearInterval(startBannerLoop);
    }

    document.getElementById("main-banner").onmouseleave = function () {
      startBannerLoop = setInterval(function () {
        bannerLoop();
      }, bannerTimer);
    }

    document.getElementById("imgbanbtn-prev").onclick = function () {
      if (bannerStatus === 1) {
        bannerStatus = 2;
      }
      else if (bannerStatus === 2) {
        bannerStatus = 3;
      }
      else if (bannerStatus === 3) {
        bannerStatus = 1;
      }
      bannerLoop();
    }

    document.getElementById("imgbanbtn-next").onclick = function () {
      bannerLoop();
    }

    function bannerLoop() {
      if (bannerStatus === 1) {
        document.getElementById("imgban2").style.opacity = "0";
        setTimeout(function () {
          document.getElementById("imgban1").style.right = "0px";
          document.getElementById("imgban1").style.zIndex = "1000";
          document.getElementById("imgban2").style.right = "-1200px";
          document.getElementById("imgban2").style.zIndex = "1500";
          document.getElementById("imgban3").style.right = "1200px";
          document.getElementById("imgban3").style.zIndex = "500";
        }, 500);
        setTimeout(function () {
          document.getElementById("imgban2").style.opacity = "1";
        }, 1000);
        bannerStatus = 2;
      }
      if (bannerStatus === 2) {
        document.getElementById("imgban3").style.opacity = "0";
        setTimeout(function () {
          document.getElementById("imgban2").style.right = "0px";
          document.getElementById("imgban2").style.zIndex = "1000";
          document.getElementById("imgban3").style.right = "-1200px";
          document.getElementById("imgban3").style.zIndex = "1500";
          document.getElementById("imgban1").style.right = "1200px";
          document.getElementById("imgban1").style.zIndex = "500";
        }, 500);
        setTimeout(function () {
          document.getElementById("imgban3").style.opacity = "1";
        }, 1000);
        bannerStatus = 3;
      }
      else if (bannerStatus === 3) {
        document.getElementById("imgban1").style.opacity = "0";
        setTimeout(function () {
          document.getElementById("imgban3").style.right = "0px";
          document.getElementById("imgban3").style.zIndex = "1000";
          document.getElementById("imgban1").style.right = "-1200px";
          document.getElementById("imgban1").style.zIndex = "1500";
          document.getElementById("imgban2").style.right = "1200px";
          document.getElementById("imgban2").style.zIndex = "500";
        }, 500);
        setTimeout(function () {
          document.getElementById("imgban1").style.opacity = "1";
        }, 1000);
        bannerStatus = 1;
      }
    }
  </script>
  {% endblock %}
  <div class="mt-5 pt-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% block content %}
  {% endblock content %}

  {% block extra_body %}
  {% endblock %}

  {% include "footer.html" %}
  {% include "scripts.html" %}

  {% block extra_scripts %}
  {% endblock extra_scripts %}
</body>

</html>