<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Invoice</title>
</head>

<body>
    <h1 align="center">Invoice#{{invoice_id}}</h1>
    <p>First name: hung</p>
    <p>Last name: tran</p>
    <p>Email: hung@gmail.com</p>

    <table>
        <thead>
            <th align="center">Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Grand Total</th>
        </thead>
        <tbody>
            <td align="center">Java</td>
            <td>3</td>
        </tbody>
    </table>

</body>

</html>